<form action="/movies/{{movie.id}}/edit" method="POST">
    <label for=''>Title</label>
    <input type='text' name='title' placeholder= "title" value="{{movie.title}}">
  
    <label for=''>Genre</label>
    <input type='text' name='genre' placeholder= "genre" value="{{movie.genre}}">
  
    <label for=''>Plot</label>
    <input type='text' name='plot' placeholder= "plot" value="{{movie.plot}}">
  
    <select name="cast" multiple>
        {{#each allCelebs}}
        <option value="{{_id}}">{{name}} </option>
        {{/each}}
    </select>

  <button type='submit'>Save</button>
</form>
