<h1>Movies</h1>

   <a href="/movies/create">Create new movie</a>

    {{#each movies}}
       <a href="/movies/{{id}}"><h4>{{title}}</h4></a>         
    <ul>
         <li>Genre: {{ genre }} </li>
         <li> Plot: {{ plot }}</li>
         {{#each cast}}
         <li> Cast: {{ name }}</li>
         {{/each}}

    </ul>

     <a href="/movies/{{id}}/edit">Edit</a>
    {{/each}}